ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    
}